<!-- FOOTER -->
<footer id="footer" class="p-topbot">

    <hr />

    <div class="copyright">
        <div class="container text-center fsize12">
            <div id="time"></div>Alle Rechte vorbehalten &copy; 2020 A<span class="green">o</span>A-ITS &bull;
            <a href="datenschutz.html" class="fsize11">Datenschutz</a> &bull;
            <a href="hosting.html" class="fsize11">Hosting</a> &bull;
            <a href="impressum.html" class="fsize11">Impressum</a> &bull;
            <a href="kontakt.html" class="fsize11">Kontakt</a> &bull;
            <a href="shop.html" class="fsize11">Shop</a> &bull;
        </div>
    </div>
</footer>
<!-- /FOOTER -->