<!-- Top Nav -->
<div class="navbar-collapse nav-main-collapse collapse">
    <nav class="nav-main">
        <ul id="topMain" class="nav nav-pills nav-main">
            <li class="active">
                <a href="/">
                    <i class="fa fa-home fa-lg 2x margmen"></i><br class="nodispmen" />Home</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="false"><i class="fa fa-cogs fa-lg 2x margmen"></i><br class="nodispmen" />Dienstleistungen</a>
                <ul class="dropdown-menu">
                    <li><a href="admin.html">Administration &amp; Technik</a></li>
                    <li><a href="advice.html">Beratung / Consulting</a></li>
                </ul>
            </li>
            <li>
                <a href="hosting.html"><i class="fa fa-list-alt fa-lg 2x margmen"></i><br class="nodispmen" />Hosting</a>
            </li>
            <li>
                <a href="shop.html"><i class="fa fa-shopping-cart fa-lg 2x margmen"></i><br class="nodispmen" />Shop</a>
            </li>
            <li>
                <a href="kontakt.html"><i class="fa fa-phone fa-lg 2x margmen"></i><br class="nodispmen" />Kontakt</a>
            </li>
            <li>
                <a href="referenzen.html"><i class="fa fa-thumbs-up fa-lg 2x margmen"></i><br class="nodispmen" />Referenzen</a>
            </li>
            <li>
                <a href="blog.html"><i class="fa fa-rss fa-lg 2x margmen"></i><br class="nodispmen" />Blog</a>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="false"><i class="fa fa-globe fa-lg 2x margmen"></i><br class="nodispmen" />Sprache</a>
                <ul class="dropdown-menu">
                    <li class="active"><a href="/">Deutsch</a></li>
                    <li><a href="http://www.aoa-its.com/">Englisch</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>