<!-- SLIDE -->
<div class="ls-slide" data-ls="slidedelay:1111;transition2d:105,106;">
    <img src="assets/images/AoA-ITS_Karlsruhe_2016_Q2_Fruehling_by_LightRay-Studio.png" class="ls-bg" alt="AoA-ITS - Alter Schlachthof in Karlsruhe im Fr&uml;hling 2016 by LightRay-Studio - www.LightRay-Studio.de"/>
    <!-- h5 class="ls-l" style="top:33px;position:absolute;left:50%;transform:translate(-50%, 0);font-weight:normal;font-size:30px;color:#bfe024;white-space:nowrap;" data-ls="offsetxin:0;delayin:800;easingin:easeOutQuint;scalexin:0.8;scaleyin:0.8;offsetxout:0;durationout:750;scalexout:0.8;scaleyout:0.8;">SEO-Analyse zum Angebotspreis!</h5 -->
    <!-- a href="seo-angebot.html" --><!-- img class="ls-l btn btn-default" style="top:82px;position:absolute;left:50%;transform:translate(-50%, 0);relative;margin-right:auto;font-weight:normal;font-size:30px;color:#bfe024;white-space:nowrap;" data-ls="offsetxin:0;delayin:800;easingin:easeOutQuint;scalexin:0.8;scaleyin:0.8;offsetxout:0;durationout:750;scalexout:0.8;scaleyout:0.8;" src="/assets/images/click-btn.jpg" alt="Zum Angebot"></img -->
</div>
<script type="text/javascript">
    var layer_options = {
        responsive: 		false,
        responsiveUnder: 	1280,
        layersContainer: 	1280,
        hoverPrevNext: 		true,
        skinsPath: 			'assets/plugins/layerslider/skins/'
    }
</script>

<!-- SLIDE -->
<!-- div class="ls-slide" data-ls="slidedelay:1111;transition2d:105,106;">
    <img src="assets/images/AoA-ITS_Karlsruhe_2016_Q2_1_Fruehling_by_LightRay-Studio.jpg" class="ls-bg" alt="AoA-ITS - Alte Parkbank in Karlsruhe im Fr&uml;hling 2016 by LightRay-Studio - www.LightRay-Studio.de"/>
    </div>
<script type="text/javascript">
var layer_options = {
    responsive: 		false,
    responsiveUnder: 	1280,
    layersContainer: 	1280,
    hoverPrevNext: 		true,
    skinsPath: 			'assets/plugins/layerslider/skins/'
}
</script -->

<!-- SLIDE -->
<div class="ls-slide" data-ls="slidedelay:1111;transition2d:105,106;">
    <img src="assets/images/AoA-ITS_Karlsruhe_2016_Q2_2_Fruehling_by_LightRay-Studio.jpg" class="ls-bg" alt="AoA-ITS - Aussicht vom Michaelsberg in Bruchsal nahe Karlsruhe im Fr&uml;hling 2016 by LightRay-Studio - www.LightRay-Studio.de"/>
</div>
<script type="text/javascript">
    var layer_options = {
        responsive: 		false,
        responsiveUnder: 	1280,
        layersContainer: 	1280,
        hoverPrevNext: 		true,
        skinsPath: 			'assets/plugins/layerslider/skins/'
    }
</script>

<!-- SLIDE -->
<div class="ls-slide" data-ls="slidedelay:1111;transition2d:105,106;">
    <img src="assets/images/AoA-ITS_Karlsruhe_2016_Q2_3_Fruehling_by_LightRay-Studio.jpg" class="ls-bg" alt="AoA-ITS - Hirschbrücke in Karlsruhe im Fr&uml;hling 2016 by LightRay-Studio - www.LightRay-Studio.de"/>
</div>
<script type="text/javascript">
    var layer_options = {
        responsive: 		false,
        responsiveUnder: 	1280,
        layersContainer: 	1280,
        hoverPrevNext: 		true,
        skinsPath: 			'assets/plugins/layerslider/skins/'
    }
</script>

<!-- SLIDE -->
<div class="ls-slide" data-ls="slidedelay:1111;transition2d:105,106;">
    <img src="assets/images/AoA-ITS_Karlsruhe_2016_Q2_4_Fruehling_by_LightRay-Studio.jpg" class="ls-bg" alt="AoA-ITS - Karlstrasse Ecke Stephanienstrasse in Karlsruhe im Fr&uml;hling 2016 by LightRay-Studio - www.LightRay-Studio.de"/>
</div>
<script type="text/javascript">
    var layer_options = {
        responsive: 		false,
        responsiveUnder: 	1280,
        layersContainer: 	1280,
        hoverPrevNext: 		true,
        skinsPath: 			'assets/plugins/layerslider/skins/'
    }
</script>

<!-- SLIDE -->
<div class="ls-slide" data-ls="slidedelay:1111;transition2d:105,106;">
    <img src="assets/images/AoA-ITS_Karlsruhe_2016_Q2_5_Fruehling_by_LightRay-Studio.jpg" class="ls-bg" alt="AoA-ITS - Kunstgalerie und Orangerie des Schlosses von Karlsruhe im Fr&uml;hling 2016 by LightRay-Studio - www.LightRay-Studio.de"/>
</div>
<script type="text/javascript">
    var layer_options = {
        responsive: 		false,
        responsiveUnder: 	1280,
        layersContainer: 	1280,
        hoverPrevNext: 		true,
        skinsPath: 			'assets/plugins/layerslider/skins/'
    }
</script>

<!-- SLIDE -->
<!-- div class="ls-slide" data-ls="slidedelay:1111;transition2d:105,106;">
    <img src="assets/images/AoA-ITS_Karlsruhe_2016_Q2_6_Fruehling_by_LightRay-Studio.jpg" class="ls-bg" alt="AoA-ITS - Staatliche Kunstgalerie in Karlsruhe im Fr&uml;hling 2016 by LightRay-Studio - www.LightRay-Studio.de"/>
    </div>
<script type="text/javascript">
var layer_options = {
    responsive: 		false,
    responsiveUnder: 	1280,
    layersContainer: 	1280,
    hoverPrevNext: 		true,
    skinsPath: 			'assets/plugins/layerslider/skins/'
}
</script -->

