<!-- Top Nav -->
<body class="smoothscroll boxed pattern10">
<div id="wrapper">
    <div id="header">
        <!-- Top Bar -->
        <header id="topBar">
            <div class="container">
                <div class="pull-right fsize13 margin-top10 hide_mobile">
                    <div class="block text-right"><!-- social -->
                        <a href="//www.facebook.com/AoA.ITS?fref=ts" class="social fab fa-facebook"></a>
                        <a href="//plus.google.com/+AoA-ITSde" class="social fab fa-google-plus"></a>
                        <a href="//www.xing.com/companies/aoa-its" class="social fab fa-xing"></a>
                        <a href="//www.twitter.com/AoA_ITS" class="social fab fa-twitter"></a>
                        <a href="//www.linkedin.com/company/aoa-its---philipp-weissgerber" class="social fab fa-linkedin"></a>
                        <a href="//www.youtube.com/user/AoAITS" class="social fab fa-youtube"></a>
                    </div><!-- /social -->
                </div>
                <!-- Logo -->
                <a class="logo" href="/"><img class="appear-animation" style="padding-left:15px;" src="../../typo3conf/ext/aoa_its_website/Resources/Public/images/aoa_its.jpg" data-animation="fadeInRightBig" height="50" alt="" /></a>
            </div><!-- /.container -->
        </header>
        <!-- /Top Bar -->
<header id="topNav">
    <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Partial Main Nav -->
        <f:render partial="MainNav"/>

    </div><!-- /.container -->
</header>
<!-- /Top Nav -->
    </div>

<!-- Hier die Inhalte -->
<f:render section="Slider"/>
<f:render section="2Column"/>


<!-- Partial Footer -->
<f:render partial="Footer"/>
    </div>
</div>
</body>