.p-topbot {
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.center {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: auto !important;
    margin-top: 35px !important;
}
  
.breadcrumb>.active {
	color: #bfe024;
}  

.margl55 {
	margin-left: 55px !important;
}

.invis {
	display: none !important;
}

ul.blogmenu {
	margin: 0em 0 !important;
}

i.fa {
	padding-bottom:0px!important;
}

.owl-buttons {
	margin-top:5px;
}

.button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: black!important;
}
/*basic reset*/
* {margin: 0; padding: 0;}
/*adding a black bg to the body to make things clearer*/
body {background: black;}
canvas {display: block;}

.colml {
margin-left:25px;
}

.colmr {
margin-right:25px;
}

.tacenter {
text-align:center;
}

@media (max-width: 900px) {
	.nodispmen {
	display:none;
	}
	.margmen {
	margin-right:9px;
	}
}
@media (min-width: 901px) {
	#topNav ul.nav>li.active>a:before {
		content:' ';
		background-color: #a94545;
		height: 2px; width: 100%;
		left: 0; top: -3px;
		position: absolute;
	}
}