<f:layout name="Default"/>

<f:section name="Slider">
<!-- LAYER SLIDER -->
<div class="slider">
    <div class="layerslider" style="width:100%;height:500px;">
        <f:render partial="Slider1"/>
    </div>
</div>
<!-- /LAYER SLIDER -->
</f:section>

<f:section name="2Column">
<!-- WELCOME -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5 colml">

            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-5">

            </div>
        </div>
        <br/>
        <h2 class="tacenter">
							<span class="word-rotator">
								<span class="items bold styleColor">
									<span class="tacenter">Admin or Advice</span>
									<span class="tacenter">Kommunikation der Zukunft</span>
									<span class="tacenter">Digitales Marketing</span>
									<span class="tacenter">Zertifizierte SEO Optimierung</span>
									<span class="tacenter">Responsive Webdesign</span>
									<span class="tacenter">Viral Marketing</span>
									<span class="tacenter">Prozessoptimierung</span>
									<span class="tacenter">Homepage Design</span>
									<span class="tacenter">IT-Dienstleistungen</span>
									<span class="tacenter">EDV Service</span>
									<span class="tacenter">Homepage designer</span>
									<span class="tacenter">IT Services</span>
									<span class="tacenter">IT Dienstleister</span>
									<span class="tacenter">Webdesign Agentur</span>
									<span class="tacenter">Web Marketing</span>
									<span class="tacenter">Online Marketing Tools</span>
									<span class="tacenter">Online Marketing Consultant</span>
									<span class="tacenter">Website Marketing</span>
								</span>
							</span>
        </h2>
        <div><h3 class="tacenter">Unsere Partner sind:<br>Google, HP, Lenovo, Microsoft, Searchmetrics, Teamviewer</h3>
        </div>
    </div>
</section>
<!-- /WELCOME -->
</f:section>